# Octopus Energy
VITE_OCTOPUS_ACCOUNT=A-XXXXXXXX
VITE_OCTOPUS_API_KEY=sk_live_xxxxxxxxxxxxxxxxxxxx
VITE_OCTOPUS_API_ENDPOINT=https://api.octopus.energy/v1/graphql/

# Growatt
VITE_GROWATT_USER=your_growatt_username
VITE_GROWATT_PASSWORD=your_growatt_password
VITE_GROWATT_TOKEN=your_growatt_api_token
VITE_GROWATT_SERIAL=your_inverter_serial_number
